
body { 
  padding: 0; 
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', Arial, sans-serif;
}
button { 
  font-family:'Roboto', Arial, sans-serif;
}
.container { 
  width: 30vw;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #13ff17;
  border-top: 3px solid #13ff17;
  border-bottom: 3px solid #13ff17;
}
.start-btn-container { 
  display: flex; 
}
#question-container { 

}
.title { 
  font-size: 36px;
  margin: 40px 0;
}
#question-index { 
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#job-name { 
  font-size: 48px;
  margin: 50px 0;
  text-align: center;
}
#question-text { 

}
#answer-buttons { 
  margin: 10px 0;
}
#quote { 
  width: 80%;
  font-style: italic;
}
#start-btn, #try-again-button, #start-btn-ru { 
  margin: 40px 10px;
  width: 120px;
  height: 30px;
  padding: 0px;
  text-align: center;
}
.title-text { 
  margin-top: 20px;
}
.answer-btn-grid { 
  display: flex;
  flex-direction: column;
}
.btn { 
  outline: none;
  background-color: black;
  color: #13ff17; 
  border: none;
  padding: 10px;
  margin: 5px;
}
.btn:hover { 
  background-color: #13ff17;
  color: #002000;
}

.start-screen { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-result { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) { 
  .container { 
    width: 100vw;
  }
  .body { 
    background-image: url(background-phone1.png);
    background-position: center;
    background-size: cover;
  }
}
.hide { 
  display: none;
}
